<html>
    <head>
        <title>Moments blog</title>
    </head>
    <body>
        <div>
            <h1>Marketing e Eventos</h1>
        </div>

        <div>
            <p>A comunicação certa faz a diferença. Nós somos o seu diferencial.</p>
            <h2>Quem somos</h2>
            <p>Bruna Carvalho, Marcelo Torres e Paloma Costa são jovens profissionais, altamente qualificados para alavancar a sua organização</p>
        </div>

        <div>
            <p>Os melhores. Acredite.</p>
            <h2>Nossos clientes</h2>
            <h3><em>123</em></h3></p>
            <h4>Empresas e negócios que querem obter sucesso</h4>
        </div>
    </body>
</html>
